.animals-component-wrapper {
  .animals-wrapper {
    .animal-wrapper {
      .animal-square {
        width: 20rem;
        height: 20rem;
        color: rebeccapurple;
        background: #FFF4E8;
        border-radius: 3px
      }
    }
  }
}